# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintainted in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/


*.tiled-project
*.tiled-session
*.tiled-project
*.tiled-session
output/main.exe
output/main/.gitattributes
output/main/assets/gun.png
output/main/assets/icon.png
output/main/assets/left-hand.png
output/main/assets/left_arm.png
output/main/assets/player1.png
output/main/assets/player2.png
output/main/assets/player3.png
output/main/assets/player4.png
output/main/assets/shotgun.png
output/main/assets/tileset.aseprite
output/main/base_library.zip
output/main/cv2/__init__.py
output/main/cv2/config-3.py
output/main/cv2/config.py
output/main/cv2/data/__init__.py
output/main/cv2/gapi/__init__.py
output/main/cv2/load_config_py3.py
output/main/cv2/mat_wrapper/__init__.py
output/main/cv2/misc/__init__.py
output/main/cv2/misc/version.py
output/main/cv2/opencv_videoio_ffmpeg470_64.dll
output/main/cv2/utils/__init__.py
output/main/cv2/version.py
output/main/E-Mars.zip
output/main/gemmecatcher/gemme_python.png
output/main/gemmecatcher/gemmecatcher.py
output/main/gemmecatcher/map_cave.jpg
output/main/gemmecatcher/player_tube.png
output/main/libcrypto-1_1.dll
output/main/libffi-7.dll
output/main/libFLAC-8.dll
output/main/libfreetype-6.dll
output/main/libjpeg-9.dll
output/main/libmodplug-1.dll
output/main/libmpg123-0.dll
output/main/libogg-0.dll
output/main/libopenblas64__v0.3.21-gcc_10_3_0.dll
output/main/libopus-0.dll
output/main/libopusfile-0.dll
output/main/libpng16-16.dll
output/main/libssl-1_1.dll
output/main/libtiff-5.dll
output/main/libvorbis-0.dll
output/main/libvorbisfile-3.dll
output/main/libwebp-7.dll
output/main/LICENSE
output/main/main.exe
output/main/main.py
output/main/mfc140u.dll
output/main/mining_game/bloc_pics/blocs_pic.png
output/main/mining_game/bloc_pics/blocs_pic.tsx
output/main/mining_game/bloc_pics/coal.png
output/main/mining_game/bloc_pics/copper.png
output/main/mining_game/bloc_pics/desktop.ini
output/main/mining_game/bloc_pics/gold.png
output/main/mining_game/bloc_pics/gun.png
output/main/mining_game/bloc_pics/iron.png
output/main/mining_game/bloc_pics/iron_pickaxe.png
output/main/mining_game/bloc_pics/iron_pickaxe_old.png
output/main/mining_game/bloc_pics/map.csv
output/main/mining_game/bloc_pics/map.tmx
output/main/mining_game/bloc_pics/redstone.png
output/main/mining_game/collisions.py
output/main/mining_game/level.py
output/main/mining_game/loader.py
output/main/mining_game/main.py
output/main/mining_game/particles.py
output/main/mining_game/pickaxe.py
output/main/mining_game/sounds/bedrock.mp3
output/main/mining_game/sounds/BGM.mp3
output/main/mining_game/sounds/dirt.mp3
output/main/mining_game/sounds/explosion.wav
output/main/mining_game/sounds/stone.mp3
output/main/mining_game/tiles.py
output/main/music/Class_Zephemeros-Asymmetrical.wav
output/main/music/Vast Surroundings (LOOP).mp3
output/main/output/main.exe
output/main/particle.py
output/main/player.py
output/main/portmidi.dll
output/main/pygame/freesansbold.ttf
output/main/pygame/libfreetype-6.dll
output/main/pygame/libogg-0.dll
output/main/pygame/libvorbis-0.dll
output/main/pygame/pygame_icon.bmp
output/main/pygame/SDL2.dll
output/main/pygame/zlib1.dll
output/main/python3.dll
output/main/python39.dll
output/main/pywin32_system32/pythoncom39.dll
output/main/pywin32_system32/pywintypes39.dll
output/main/README.md
output/main/SDL2.dll
output/main/SDL2_image.dll
output/main/SDL2_mixer.dll
output/main/SDL2_ttf.dll
output/main/set_bubbles/1_outch.png
output/main/set_bubbles/2_rules.png
output/main/set_bubbles/3_maingame.png
output/main/set_bubbles/4_wallbreacker.png
output/main/set_bubbles/5_mininggame.png
output/main/set_bubbles/6_maingame2.png
output/main/set_bubbles/7_gemmecatcher.png
output/main/sfx/break.wav
output/main/sfx/CREDITS.mpg
output/main/sfx/END-MARS-TO-EARTH.mpg
output/main/sfx/gunshot.wav
output/main/sfx/INTRO-BOOM.mpg
output/main/sfx/pickup.wav
output/main/test.py
output/main/tiled_map/map.tmx
output/main/tiled_map/map_Background.csv
output/main/tiled_map/map_Platforms.csv
output/main/tiled_map/terrain.png
output/main/tiled_map/terrain.tsx
output/main/tilemap.py
output/main/to_output/assets/gun.png
output/main/to_output/assets/icon.png
output/main/to_output/assets/left-hand.png
output/main/to_output/assets/left_arm.png
output/main/to_output/assets/player1.png
output/main/to_output/assets/player2.png
output/main/to_output/assets/player3.png
output/main/to_output/assets/player4.png
output/main/to_output/assets/shotgun.png
output/main/to_output/assets/tileset.aseprite
output/main/to_output/gemmecatcher/gemme_python.png
output/main/to_output/gemmecatcher/map_cave.jpg
output/main/to_output/gemmecatcher/player_tube.png
output/main/to_output/mining_game/bloc_pics/blocs_pic.png
output/main/to_output/mining_game/bloc_pics/blocs_pic.tsx
output/main/to_output/mining_game/bloc_pics/coal.png
output/main/to_output/mining_game/bloc_pics/copper.png
output/main/to_output/mining_game/bloc_pics/desktop.ini
output/main/to_output/mining_game/bloc_pics/gold.png
output/main/to_output/mining_game/bloc_pics/gun.png
output/main/to_output/mining_game/bloc_pics/iron.png
output/main/to_output/mining_game/bloc_pics/iron_pickaxe.png
output/main/to_output/mining_game/bloc_pics/iron_pickaxe_old.png
output/main/to_output/mining_game/bloc_pics/map.csv
output/main/to_output/mining_game/bloc_pics/map.tmx
output/main/to_output/mining_game/bloc_pics/redstone.png
output/main/to_output/mining_game/sounds/bedrock.mp3
output/main/to_output/mining_game/sounds/BGM.mp3
output/main/to_output/mining_game/sounds/dirt.mp3
output/main/to_output/mining_game/sounds/explosion.wav
output/main/to_output/mining_game/sounds/stone.mp3
output/main/to_output/music/Class_Zephemeros-Asymmetrical.wav
output/main/to_output/music/Vast Surroundings (LOOP).mp3
output/main/to_output/set_bubbles/1_outch.png
output/main/to_output/set_bubbles/2_rules.png
output/main/to_output/set_bubbles/3_maingame.png
output/main/to_output/set_bubbles/4_wallbreacker.png
output/main/to_output/set_bubbles/5_mininggame.png
output/main/to_output/set_bubbles/6_maingame2.png
output/main/to_output/set_bubbles/7_gemmecatcher.png
output/main/to_output/sfx/break.wav
output/main/to_output/sfx/CREDITS.mpg
output/main/to_output/sfx/END-MARS-TO-EARTH.mpg
output/main/to_output/sfx/gunshot.wav
output/main/to_output/sfx/INTRO-BOOM.mpg
output/main/to_output/sfx/pickup.wav
output/main/to_output/tiled_map/map_Background.csv
output/main/to_output/tiled_map/map_Platforms.csv
output/main/to_output/tiled_map/terrain.png
output/main/to_output/wall_breaker/astro_shield.png
output/main/to_output/wall_breaker/ball.png
output/main/to_output/wall_breaker/brick.png
output/main/VCRUNTIME140.dll
output/main/wall_breaker/__init__.py
output/main/wall_breaker/__main__.py
output/main/wall_breaker/astro_shield.png
output/main/wall_breaker/ball.png
output/main/wall_breaker/brick.png
output/main/wall_breaker/collision_handler.py
output/main/wall_breaker/collision_handler_sprites.py
output/main/wall_breaker/common.py
output/main/wall_breaker/event_dispatcher.py
output/main/wall_breaker/run.py
output/main/wall_breaker/score.py
output/main/wall_breaker/sprites.py
output/main/wall_breaker/static_sprite.py
output/main/zlib1.dll
to_output/assets/gun.png
to_output/assets/icon.png
to_output/assets/left-hand.png
to_output/assets/left_arm.png
to_output/assets/player1.png
to_output/assets/player2.png
to_output/assets/player3.png
to_output/assets/player4.png
to_output/assets/shotgun.png
to_output/assets/tileset.aseprite
to_output/gemmecatcher/gemme_python.png
to_output/gemmecatcher/map_cave.jpg
to_output/gemmecatcher/player_tube.png
to_output/mining_game/bloc_pics/blocs_pic.png
to_output/mining_game/bloc_pics/blocs_pic.tsx
to_output/mining_game/bloc_pics/coal.png
to_output/mining_game/bloc_pics/copper.png
to_output/mining_game/bloc_pics/desktop.ini
to_output/mining_game/bloc_pics/gold.png
to_output/mining_game/bloc_pics/gun.png
to_output/mining_game/bloc_pics/iron.png
to_output/mining_game/bloc_pics/iron_pickaxe.png
to_output/mining_game/bloc_pics/iron_pickaxe_old.png
to_output/mining_game/bloc_pics/map.csv
to_output/mining_game/bloc_pics/map.tmx
to_output/mining_game/bloc_pics/redstone.png
to_output/mining_game/sounds/bedrock.mp3
to_output/mining_game/sounds/BGM.mp3
to_output/mining_game/sounds/dirt.mp3
to_output/mining_game/sounds/explosion.wav
to_output/mining_game/sounds/stone.mp3
to_output/music/Class_Zephemeros-Asymmetrical.wav
to_output/music/Vast Surroundings (LOOP).mp3
to_output/set_bubbles/1_outch.png
to_output/set_bubbles/2_rules.png
to_output/set_bubbles/3_maingame.png
to_output/set_bubbles/4_wallbreacker.png
to_output/set_bubbles/5_mininggame.png
to_output/set_bubbles/6_maingame2.png
to_output/set_bubbles/7_gemmecatcher.png
to_output/sfx/break.wav
to_output/sfx/CREDITS.mpg
to_output/sfx/END-MARS-TO-EARTH.mpg
to_output/sfx/gunshot.wav
to_output/sfx/INTRO-BOOM.mpg
to_output/sfx/pickup.wav
to_output/tiled_map/map_Background.csv
to_output/tiled_map/map_Platforms.csv
to_output/tiled_map/terrain.png
to_output/wall_breaker/astro_shield.png
to_output/wall_breaker/ball.png
to_output/wall_breaker/brick.png
*.zip
